.navigation{
    margin-left: 74%;
    display: flex;
    flex-direction: row;
}
.navigation .links{
    margin-left: 5px;
    border-radius: 5px;
    color: black;
    background-color: rgb(241, 141, 9);
    text-decoration: none;
}
.navigation .links Button{
    color: beige;
}
.navigation .links Button:hover{
    color: black;
}
.links{
    text-decoration: none;
}
 img{
    display: block;
     max-width:50px;
     max-height:30px;
     scale:5;
     aspect-ratio: auto;
     padding-left: 20px;
}
footer{
    margin-top: 15px;
    padding: auto;
    height: 40px;
    text-align: center;
    background-color: rgb(241, 94, 9);
}
.images{
    margin-top: 30px;
    margin-left: 30px;
}
.about{
    margin: 20px;
    padding: 10px; 
}
.about p{
    text-align:justify ;
    margin: 15px;
    padding: 5px;
}
.forms{
    border: 1px solid  rgb(197, 197, 190);
    border-radius: 10px;
    padding: 20px; 
    align-items: center;
    margin: 10px;
    height: 15%;
    width: 98%;
    align-items: center;
    background-color: #e08a58;
}
.form .heading{
    font-weight: 800;
    font-size: large;
    color: rgb(248, 248, 215);
}

.forms .field{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(243, 243, 234);
    margin: 5px;
    cursor: pointer;
    
}
.gridsystem{
    margin-top: 10px;
    
}
.gridsystem .grids{
    background-color: #eecab3;
}
.gridsystem .description{
    text-align: justify;
}
.images .category .button{
    margin-right: 10px;
}